NEXT_PUBLIC_DEPLOY_FOR_IPFS=
NEXT_PUBLIC_TERMS_AND_CONDITIONS_VISIBLE=
NEXT_PUBLIC_WC_PROJECT_ID=your_wc_project_id#https://docs.walletconnect.com/2.0/cloud/relay

NEXT_PUBLIC_RPC_MAINNET=
NEXT_PUBLIC_RPC_POLYGON=
NEXT_PUBLIC_RPC_AVALANCHE=

RPC_MAINNET=
RPC_AVALANCHE=
RPC_OPTIMISM=
RPC_POLYGON=
RPC_ARBITRUM=
RPC_BASE=
RPC_GNOSIS=
RPC_SCROLL=
RPC_BNB=
RPC_METIS=
RPC_ZKSYNC=
RPC_LINEA=