[submodule "lib/web3"]
	path = lib/web3
	url = https://github.com/bgd-labs/fe-shared
	branch = fix/tx-local-status
[submodule "lib/helpers"]
	path = lib/helpers
	url = https://github.com/bgd-labs/aave-governance-ui-helpers
